.vs
*.sln
DerivedDataCache/
Intermediate/
Saved/
Binaries/Win64
Build/
Content/Collections
Content/Developers
Content/ExternalContent
.idea/
Platforms/
*.pdb
*.dll
*.target
*.xml
.clang-format.txt
*.sln.*
*BuiltData.uasset
*.sln
.vsconfig
Plugins/Developer
Content/__ExternalActors__
Content/__ExternalObjects__